*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
}

.navbar {
    width: 50%;
    height: 60px;
    display: flex;
    box-shadow: 10px black;
    border-radius: 40px;
    border: black 2px solid;
    position: fixed;
    margin-top: 10px;
    display: flex;
    background: white;
}

.nav-logo{
    width: 10%;
    height: auto;
    margin-left: 35px;
    margin-right: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(Assets/Cycle.png);
}

.nav-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elements ul{
    list-style: none;
    display: flex;
    
}

.nav-elements li a{
    text-decoration: none;
    color: black;
    margin-right: 50px;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.nav-elements li a:hover{
    font-size: 32px;
    color: #FE7678;
}


/* ----body---- */

body{
   background-color: white; 
}

.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec1, .sec2{
    height: 100vh;
}

.sec1{
    background-image: url(Assets/Cycle\ Syncf.png);
    width: 35%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

.text{
    width: 70%;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.sec2{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h1, h2, p{
    text-align: left;
    color: black;
}

.text h1{
    font-size: 80px;

    color: #FE7678;
}

.text h1 span{
    color: #FE7678;
}

.text h2{
    font-size: 40px;
}

.text p{
    font-size: 25px;
    margin-top: 20px;
}
